/**
 * DOMIWYG Style: domiwyg.css
 * 
 * @author Christoffer Lindahl <christoffer@kekos.se>
 * @date 2012-07-04
 * @version 1.2
 */

.has-domiwyg { display: none; }
.hidden { display: none; }

.domiwyg-app
  {
  height: 380px;
  border: 1px solid #888;
  overflow: hidden;
  opacity: 0.5;
  font-size: 12pt;
  }

.domiwyg-app.focus { opacity: 1; }
.domiwyg-toolbar { background: #ddd; }

.domiwyg-styles-list
  {
  margin: 2px;
  width: auto;
  height: auto;
  font-size: 0.8em;
  }

.domiwyg-toolbar button
  {
  margin: 2px;
  width: 22px;
  height: 22px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-image: url('images/domiwyg_sprite.png');
  border: 1px solid #777;
  font-size: 0;
  }

.domiwyg-toolbar button:hover, .domiwyg-toolbar button:focus
  {
  background-color: #eee;
  outline: 0;
  }

.domiwyg-toolbar button:active
  {
  background-color: #999;
  }

.domiwyg-toolbar button::-moz-focus-inner
  {
  border: 0;
  }

.dwcmd-Source { background-position: 2px 1px; }
.dwcmd-Link { background-position: -16px 1px; }
.dwcmd-Image { background-position: -34px 1px; }
.dwcmd-Ulist { background-position: -52px 1px; }
.dwcmd-Olist { background-position: -70px 1px; }
.dwcmd-Table { background-position: -88px 1px; }

.domiwyg-dom-crumbs
  {
  padding: 5px;
  background: #eee;
  font-size: 0.7em;
  }

.domiwyg-area
  {
  padding: 0.1px 0 0;
  height: 333px;
  overflow: auto;
  }

.domiwyg-source-editor
  {
  height: 330px;
  width: 99%;
  border: 0;
  font-family: 'Courier New', Courier, monospace;
  }

#domiwyg_dialog
  {
  position: absolute;
  background: #fff;
  border: 1px solid #777;
  z-index: 999;
  }

#domiwyg_dialog h1
  {
  margin: 0;
  padding: 5px;
  background: #ccc;
  font-size: 1.1em;
  }

.domiwyg-form { overflow: hidden; }

.domiwyg-form label
  {
  display: block;
  clear: both;
  float: left;
  }

.domiwyg-form input
  {
  float: left;
  margin-left: 5px;
  }