_snapshot/
images/*
!images/admin/
!images/originals/
upload/
req_events.html

#Ignore Domiwyg
js/domiwyg*
js/images/

#Ignore KWF
class/Controller.php
class/Cookie.php
class/Db.php
class/DbMysqli.php
class/DbMysqliStatement.php
class/DbObject.php
class/Page.php
class/Request.php
class/Response.php
class/Router.php
class/Session.php
class/View.php
css/kwf*
include/*.php
!include/functions_extra.php
js/html5.min.js
js/kwf*
modules/
view/error*
view/exception_debug.phtml

#Ignore test configuration files
config.php
admin/admin_config.php