_snapshot/
images/*
!images/admin/
!images/originals/
upload/
req_events.html

#Ignore Domiwyg
js/domiwyg*
js/images/

#Ignore KWF
class/controller.php
class/cookie.php
class/db.php
class/db_mysqli.php
class/db_mysqli_statement.php
class/db_object.php
class/page.php
class/request.php
class/response.php
class/router.php
class/session.php
class/view.php
css/kwf*
include/
!include/functions_extra.php
js/html5.js
js/kwf*
modules/
view/error*
view/exception_debug.phtml

#Ignore test configuration files
config.php
admin/admin_config.php