/**
 * KWF Style: kwe_admin.css
 * 
 * @author Christoffer Lindahl <christoffer@kekos.se>
 * @date 2012-06-30
 * @version 2.0
 */

@import '../../css/kwf_global.min.css';

body
  {
  padding: 0.1px 0;
  background: #d8d8d8;
  }

#header, #kwe_logo, #login_logo
  {
  background-image: url('../../images/admin/sprite.png');
  background-repeat: no-repeat;
  }

/* Header */

#header
  {
  height: 50px;
  width: 100%;
  background-color: #353535;
  background-repeat: repeat-x;
  }

#header_inner
  {
  margin: 0 auto;
  max-width: 1000px;
  }

#header h1
  {
  border: 0;
  margin: 0;
  padding: 0;
  }

#kwe_logo, #login_logo
  {
  display: block;
  float: left;
  margin: 3px 0;
  height: 43px;
  width: 138px;
  background-position: 0 -90px;
  text-indent: -9999px;
  }

#ajax_loader
  {
  position: absolute;
  margin-left: -50px;
  padding: 10px;
  width: 100px;
  height: 20px;
  top: 250px;
  left: 50%;
  z-index: 200;
  background: #000 url('../../images/admin/loading.gif') no-repeat 10px 10px;
  opacity: 0.7;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 0.8em;
  text-align: center;
  color: #fff;
  }

/* Navigation */

#goto_firstpage
  {
  float: left;
  display: block;
  margin: 15px 0 0 20%;
  width: 20px;
  height: 20px;
  background: url('../../images/admin/house.png') no-repeat;
  text-indent: -9999px;
  }

#navigation ul
  {
  float: right;
  margin: 8px 0;
  }

#navigation li
  {
  float: left;
  margin: 0;
  padding: 0;
  background: none;
  }

.menu-item
  {
  display: block;
  margin: 2px;
  padding: 5px 10px;
  background: #306791;
  box-shadow: inset -1px -1px 2px #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  }

.menu-item:hover { background: #3a7baa; }
.menu-item.active, .menu-item:focus { background: #0597da; }

.submenu-link
  {
  position: relative;
  }

.submenu-link:hover .submenu
  {
  display: block;
  }

.submenu
  {
  display: none;
  position: absolute;
  top: 20px;
  background: #fff;
  border: 1px solid #353535;
  }

.submenu li
  {
  float: none !important;
  }

.submenu-item
  {
  display: block;
  padding: 4px;
  color: #000;
  }

.submenu-item:hover
  {
  background: #3a7baa;
  text-decoration: none;
  }

/* Main */

#page
  {
  margin: 15px auto;
  max-width: 1000px;
  overflow: auto;
  background: #fdfdfd;
  font-size: 1.1em;
  }

h1, h2, h3, legend
  {
  padding-bottom: 2px;
  border-bottom: 1px solid #d8d8d8;
  font-weight: normal;
  color: #353535;
  letter-spacing: -1px;
  }

h1 { font-size: 1.4em; }
h2 { font-size: 1em; }
h3 { font-size: 0.8em; }

#content > h1
  {
  margin: 0;
  padding: 10px;
  background: #eaa852;
  }

li
  {
  margin: 1% 0;
  list-style-type: none;
  line-height: 1.4;
  }

th, td
  {
  padding: 7px 2px;
  vertical-align: middle;
  border-bottom: 1px solid #d8d8d8;
  }

th
  {
  border-bottom: 1px solid #353535;
  font-size: 0.8em;
  text-align: left;
  }

a { color: #04aeec; }
.subpage-row { padding-left: 18px; }
/*.actions-head { display: none; }*/

.actions
  {
  }

.delete-link, .permission-link, .more-link
  {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: no-repeat;
  text-indent: -9999px;
  text-decoration: none !important;
  }

.less-link, .edit-link
  {
  position: relative;
  padding-left: 18px;
  }

.less-link::before, .edit-link::before
  {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: no-repeat;
  }

.edit-link { color: #04ce14; }
.edit-link:hover, .edit-link:focus { color: #02930f; }
.edit-link::before { background-image: url('../../images/admin/edit.png'); }
.delete-link { background-image: url('../../images/admin/delete.png'); }
.permission-link { background-image: url('../../images/admin/permissions.png'); }
.more-link { background-image: url('../../images/admin/more.png'); }
.less-link::before { background-image: url('../../images/admin/less.png'); }

form ol { margin: 0 1%; padding: 0; }
form ol li:last-child { background: none; }
input, select, textarea { float: left; margin: 2px 0; }

form ol li
  {
  position: relative;
  padding: 0;
  margin: 0.5% 0;
  overflow: auto;
  }

form label
  {
  float: left;
  clear: both;
  display: block;
  width: 30%;
  padding-top: 2px;
  }

input[type='text'], input[type='password'], select, textarea
  {
  padding: 3px;
  width: 65%;
  }

form span.description
  {
  float: left;
  clear: both;
  margin-left: 30%;
  width: 60%;
  font-size: 0.9em;
  }

button
  {
  padding: 10px;
  height: 60px;
  background: #75bad8;
  border: 1px solid #306791;
  }

#dw_KWE_cd { padding: 2px; background: #224967; color: #fff; }
.dwcmd-KWElink, .dwcmd-KWEimage { background: no-repeat 2px 2px; }
.dwcmd-KWElink { background-image: url('../../images/admin/dw_kwe_link.png') !important; }
.dwcmd-KWEimage { background-image: url('../../images/admin/dw_kwe_image.png') !important; }

/* Sections */

.left-section, .half-section, .third-section, .two-thirds-section
  {
  float: left;
  margin: 1%;
  width: 74%;
  }

.box
  {
  overflow: hidden;
  background: #d8d8d8;
  }

.box > h1
  {
  margin: 0;
  padding: 10px 5px;
  background: #75bad8;
  font-size: 1em;
  }

/*.box a
  {
  color: #000;
  }*/

.right-section
  {
  float: left;
  width: 25%;
  }

.half-section { width: 48%; }
.third-section { width: 32%; }
.two-thirds-section { width: 65%; }

.list ul
  {
  margin: 1% 1px;
  list-style: none;
  }

.list ul li
  {
  margin: 0;
  padding: 8px 4px 8px;
  border-bottom: 1px solid #ddd;
  }

.list li:last-child
  {
  border: none;
  }

/* Shortcuts */

.shortcuts li
  {
  margin: 1% 0;
  padding: 5px 0;
  border-bottom: 1px solid #8e8e8e;
  }

/* SubNavigation */

#subnavigation
  {
  float: right;
  margin: 1% 0 0 -100%;
  padding: 0;
  width: 200px;
  border-left: 1px solid #cdcdcd;
  }

#subnavigation li
  {
  margin: 5px 5px 0;
  padding: 0 0 5px 0;
  background: none;
  border-bottom: 1px solid #cdcdcd;
  }

#subnavigation a
  {
  display: block;
  padding: 4px 5px;
  border-left: 5px solid #04aeec;
  font-size: 1em;
  color: #505050;
  text-decoration: none;
  }

#subnavigation a:hover, #subnavigation a:active
  {
  background: #efefef;
  }

#subnavigation .active
  {
  border-left: 5px solid #ef6b14;
  }

/* Footer */

#footer
  {
  clear: left;
  border-top: 15px solid #d8d8d8;
  }

#footer p
  {
  float: left;
  margin: 0;
  padding: 1%;
  height: 40px;
  border: 0px solid #d8d8d8;
  border-right-width: 1px;
  font-size: 0.7em;
  color: #505050;
  }

#version
  {
  border-right-width: 1px;
  font-size: 1.9em !important;
  font-weight: bold;
  }

#footer ul
  {
  float: right;
  margin: 0;
  }

#footer li
  {
  margin: 1px;
  padding: 0;
  width: 200px;
  background: none;
  line-height: 1;
  }

#footer li a
  {
  display: block;
  padding: 6px 5px;
  background: #505050;
  color: #fff;
  text-decoration: none;
  }

#footer_nav a:hover, #footer_nav a:focus { background: #353535; }

/* Login */

#kwe_login
  {
  height: 100%;
  background: #fff;
  }

#login_logo
  {
  float: none;
  margin: 1em auto;
  }

#login_form
  {
  background: #d8d8d8;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  }

#login_form label
  {
  width: 95px;
  font-weight: normal;
  }

#kwe_login #header, #kwe_login #navigation, #kwe_login #footer
  {
  display: none;
  }

#kwe_login #content
  {
  float: none;
  width: 340px;
  margin: 100px auto 0;
  }

#kwe_login h1 { text-align: center; }