/**
 * KWF Style: kwe_admin.css
 * 
 * @author Christoffer Lindahl <christoffer@kekos.se>
 * @date 2012-09-29
 * @version 2.0
 */

@import '../../css/kwf_global.min.css';

body
  {
  padding: 0.1px 0;
  background: #d8d8d8;
  }

#header, #kwe_logo, #login_logo, #goto_firstpage, .edit-link:before, .less-link:before, .dwcmd-KWElink, .dwcmd-KWEimage, .file:after, .folder:after, .kwe-change-folder:after
  {
  background-image: url('../../images/admin/sprite.png') !important;
  background-repeat: no-repeat;
  }

.submenu, #errorlist, #infolist, .controller-actions, button, .toolbar-button
  {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  }

/* Header */

#header
  {
  height: 50px;
  width: 100%;
  background-color: #353535;
  background-repeat: repeat-x;
  }

#header_inner
  {
  margin: 0 auto;
  max-width: 1000px;
  }

#header h1
  {
  border: 0;
  margin: 0;
  padding: 0;
  }

#kwe_logo, #login_logo
  {
  display: block;
  float: left;
  margin: 3px 0;
  height: 43px;
  width: 138px;
  background-position: 0 -55px;
  text-indent: -9999px;
  }

#ajax_loader
  {
  position: absolute;
  margin-left: -50px;
  padding: 10px;
  width: 100px;
  height: 20px;
  top: 250px;
  left: 50%;
  z-index: 200;
  background: #000 url('../../images/admin/loading.gif') no-repeat 10px 10px;
  opacity: 0.7;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 0.8em;
  text-align: center;
  color: #fff;
  }

/* Navigation */

#goto_firstpage
  {
  display: block;
  margin: 5px 3px 0 0;
  width: 20px;
  height: 20px;
  /*background: url('../../images/admin/house.png') no-repeat;*/
  background-position: -144px -52px;
  text-indent: -9999px;
  }

#navigation ul
  {
  float: right;
  margin: 8px 0;
  }

#navigation li
  {
  float: left;
  margin: 0;
  padding: 0;
  background: none;
  }

.menu-item
  {
  display: block;
  margin: 2px;
  padding: 5px 10px;
  background: #306791;
  box-shadow: inset -1px -1px 2px #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  }

.menu-item:hover { background: #3a7baa; }
.menu-item.active, .menu-item:focus { background: #0597da; }

.submenu-link
  {
  position: relative;
  }

.submenu-link:hover .submenu
  {
  display: block;
  }

.submenu
  {
  display: none;
  position: absolute;
  z-index: 10;
  top: 20px;
  background: #fff;
  border: 1px solid #d8d8d8;
  }

.submenu li
  {
  float: none !important;
  }

.submenu-item
  {
  display: block;
  padding: 6px 16px;
  color: #000;
  }

.submenu-item:hover
  {
  background: #3a7baa;
  color: #fff;
  text-decoration: none;
  }

/* Main */

#boxing-window #errorlist, #boxing-window #infolist
  {
  margin: 5px;
  max-width: none;
  border: none;
  }

#content #errorlist, #content #infolist
  {
  margin: 0 0 15px;
  }

#errorlist, #infolist
  {
  margin: 15px auto 0;
  padding: 0;
  max-width: 1000px;
  }

#errorlist li, #infolist li
  {
  margin: 5px;
  }

#page
  {
  margin: 0 auto 15px;
  width: 100%;
  max-width: 1000px;
  overflow: auto;
  font-size: 1.1em;
  }

#content
  {
  overflow: auto;
  background: #fdfdfd;
  border-top: 15px solid #d8d8d8;
  }

h1, h2, h3, legend
  {
  padding-bottom: 2px;
  border-bottom: 1px solid #d8d8d8;
  font-weight: normal;
  color: #353535;
  letter-spacing: -1px;
  }

h1 { font-size: 1.4em; }
h2 { font-size: 1em; }
h3 { font-size: 0.8em; }

#content > h1
  {
  margin: 0;
  padding: 10px;
  background: #eaa852;
  }

li
  {
  margin: 1% 0;
  list-style-type: none;
  line-height: 1.4;
  }

th, td
  {
  padding: 7px 2px;
  vertical-align: middle;
  border-bottom: 1px solid #d8d8d8;
  }

th
  {
  border-bottom: 1px solid #353535;
  font-size: 0.8em;
  text-align: left;
  }

a { color: #04aeec; }
.subpage-row { padding-left: 18px; }

.delete-link, .permission-link, .more-link, .controller-delete, .icon-up, .icon-down, .favorite-link, .not-favorite-link
  {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../../images/admin/sprite.png') no-repeat;
  text-indent: -9999px;
  text-decoration: none !important;
  }

.less-link, .edit-link
  {
  position: relative;
  padding-left: 18px;
  }

.less-link:before, .edit-link:before
  {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  /*background: no-repeat;*/
  }

.edit-link { color: #04ce14; }
.edit-link:hover, .edit-link:focus { color: #02930f; }
/*.edit-link:before { background-image: url('../../images/admin/edit.png'); }
.delete-link { background-image: url('../../images/admin/delete.png'); }
.permission-link { background-image: url('../../images/admin/permissions.png'); }
.more-link { background-image: url('../../images/admin/more.png'); }
.less-link:before { background-image: url('../../images/admin/less.png'); }
.controller-delete { background-image: url('../../images/admin/delete-x.png'); }
.icon-up { background-image: url('../../images/admin/up.png'); }
.icon-down { background-image: url('../../images/admin/down.png'); }
.favorite-link { background-image: url('../../images/admin/favorite.png'); }
.not-favorite-link { background-image: url('../../images/admin/not-favorite.png'); }*/
.edit-link:before { background-position: 0 -100px; }
.delete-link { background-position: -16px -100px; }
.permission-link { background-position: -32px -100px; }
.more-link { background-position: -48px -100px; }
.less-link:before { background-position: -64px -100px; }
.controller-delete { background-position: -80px -100px; }
.icon-up { background-position: -96px -100px; }
.icon-down { background-position: -112px -100px; }
.favorite-link { background-position: -128px -100px; }
.not-favorite-link { background-position: -144px -100px; }

form ol { margin: 0 1%; padding: 0; }
li input, li select, li textarea { float: left; margin: 2px 0; }

form ol li
  {
  position: relative;
  padding: 0;
  margin: 0.5% 0;
  overflow: auto;
  }

form label
  {
  float: left;
  clear: both;
  display: block;
  width: 30%;
  padding-top: 2px;
  }

.radiogroup label
  {
  clear: none;
  margin: 0 40px 0 5px;
  padding: 0;
  width: auto;
  font-weight: normal;
  }

.radiogroup input
  {
  float: left;
  }

.radiogroup span
  {
  float: left;
  width: 30%;
  font-weight: bold;
  line-height: 2;
  }

input[type='text'], input[type='password'], select, textarea
  {
  padding: 3px;
  width: 65%;
  }

form .description
  {
  float: left;
  clear: both;
  margin-left: 30%;
  width: 60%;
  font-size: 0.9em;
  }

button, .toolbar-button
  {
  margin: 4px;
  padding: 10px;
  height: 60px;
  background: #75bad8;
  border: 1px solid #306791;
  box-shadow: 0 3px 5px #306791, 0px 10px 30px -5px #fff inset;
  font-size: 10pt;
  color: #000;
  text-decoration: none;
  }

button:focus, .toolbar-button:focus
  {
  box-shadow: 0 3px 5px #306791, 0px 10px 30px -5px #306791 inset;
  }

#dw_KWE_cd
  {
  padding: 2px;
  background: #224967;
  color: #fff;
  }

.browse-to-link
  {
  margin-left: 2px;
  }

.dwcmd-KWElink, .dwcmd-KWEimage { background: no-repeat 2px 2px; }
/*.dwcmd-KWElink { background-image: url('../../images/admin/dw_kwe_link.png') !important; }
.dwcmd-KWEimage { background-image: url('../../images/admin/dw_kwe_image.png') !important; }*/
.dwcmd-KWElink { background-position: -160px -100px; }
.dwcmd-KWEimage { background-position: -176px -100px; }

.kwe-browser
  {
  float: left;
  width: 200px;
  height: 200px;
  border: 1px solid #d8d8d8;
  }

.kwe-browser button, .kwe-browse-page-btn
  {
  float: left;
  padding: 5px;
  height: 32px;
  }

input.kwe-link-input
  {
  width: 50%;
  }

.kwe-select-page
  {
  display: block;
  margin-top: 20px;
  }

.kwe-browser img
  {
  max-height: 156px;
  max-width: 199px;
  }

.kwe-browse-item
  {
  float: left;
  margin: 4px;
  padding: 3px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
  background: #d8d8d8;
  border: 1px solid #353535;
  font-size: 0.8em;
  text-align: center;
  }

.kwe-browse-item:hover
  {
  border-color: #d8d8d8;
  }

.kwe-browse-item img
  {
  max-width: 100%;
  max-height: 100%;
  }

.kwe-change-folder
  {
  position: relative;
  display: block;
  }

/* Sections */  

.left-section, .half-section, .third-section, .two-thirds-section
  {
  float: left;
  margin: 1%;
  width: 74%;
  }

.box
  {
  overflow: hidden;
  background: #d8d8d8;
  }

.box > h1
  {
  margin: 0;
  padding: 10px 5px;
  background: #75bad8;
  font-size: 1em;
  }

.right-section
  {
  float: left;
  width: 25%;
  }

.half-section { width: 48%; }
.third-section { width: 32%; }
.two-thirds-section { width: 65%; }

.list ul
  {
  margin: 1% 1px;
  list-style: none;
  }

.list ul li
  {
  margin: 0;
  padding: 8px 4px 8px;
  border-bottom: 1px solid #ddd;
  }

.list li:last-child
  {
  border: none;
  }

/* Shortcuts */

.shortcuts li
  {
  margin: 1% 0;
  padding: 5px 0;
  border-bottom: 1px solid #8e8e8e;
  }

/* Edit page view */

.controller-actions
  {
  position: relative;
  margin: 1%;
  float: left;
  width: 200px;
  height: 90px;
  border: 1px solid #353535;
  }

.controller-num
  {
  padding: 2px;
  font-size: 0.9em;
  }

.controller-name
  {
  display: block;
  position: absolute;
  padding-top: 35px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  }

.controller-delete, .controller-up, .controller-down
  {
  position: absolute;
  top: 2px;
  right: 2px;
  }

.controller-up { top: 20px; }
.controller-down { top: 38px; }

/* File uploading */

.toolbar
  {
  margin: 2% 1%;
  }

.file-thumb
  {
  position: relative;
  margin: 1%;
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid #353535;
  }

.file, .folder
  {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2px;
  font-size: 0.7em;
  text-align: center;
  word-wrap: break-word;
  }

.file:after, .folder:after, .kwe-change-folder:after
  {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  top: 26px;
  left: 26px;
  /*background: url('../../images/admin/folder.png') center center no-repeat;*/
  background-position: 0 -116px;
  }

.file:after
  {
  /*background-image: url('../../images/admin/file.png');*/
  background-position: -48px -116px;
  }

.file-thumb .delete-link
  {
  position: absolute;
  bottom: 2px;
  right: 2px;
  }

/* Footer */

#footer
  {
  overflow: hidden;
  background: #fdfdfd;
  border-top: 15px solid #d8d8d8;
  }

#footer p
  {
  float: left;
  margin: 0;
  padding: 1%;
  height: 40px;
  border: 0px solid #d8d8d8;
  border-right-width: 1px;
  font-size: 0.7em;
  color: #505050;
  }

#version
  {
  border-right-width: 1px;
  font-size: 1.9em !important;
  font-weight: bold;
  }

#footer ul
  {
  float: right;
  margin: 0;
  }

#footer li
  {
  margin: 1px;
  padding: 0;
  width: 200px;
  background: none;
  line-height: 1;
  }

#footer li a
  {
  display: block;
  padding: 6px 5px;
  background: #505050;
  color: #fff;
  text-decoration: none;
  }

#footer_nav a:hover, #footer_nav a:focus { background: #353535; }

/* Login */

#kwe_login
  {
  height: 100%;
  background: #fff;
  }

#login_logo
  {
  float: none;
  margin: 1em auto;
  }

#login_form
  {
  background: #d8d8d8;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  }

#login_form label
  {
  width: 95px;
  font-weight: normal;
  }

#kwe_login #header, #kwe_login #navigation, #kwe_login #footer
  {
  display: none;
  }

#kwe_login #content
  {
  width: 340px;
  margin: 100px auto 0;
  border: 0;
  }

#kwe_login h1 { text-align: center; }

/* KDialog */

.kdialog
  {
  position: fixed;
  margin: auto;
  left: 50%;
  top: 50%;
  z-index: 9999;
  background: #fff;
  border: 1px solid #d8d8d8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

.kdialog-bar
  {
  position: relative;
  margin: 2px;
  height: 30px;
  overflow: hidden;
  background: #eaa852;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

.kdialog-title
  {
  display: block;
  margin: 8px;
  font-size: 0.9em;
  font-weight: bold;
  }

.kdialog-close
  {
  display: block;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url('../../images/close-boxing.png') no-repeat;
  text-indent: -9999px;
  }

.kdialog-content
  {
  position: absolute;
  top: 32px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  overflow: auto;
  }

/* Media queries */

@media screen and (max-width: 320px)
  {
  #header
    {
    height: 25px;
    }

  #kwe_logo
    {
    top: 2px;
    left: 2px;
    height: 25px;
    width: 25px;
    margin: 0;
    /*background-image: url('../../images/admin/logo-25.png') !important;*/
    background-position: -144px -72px;
    }

  #goto_firstpage
    {
    margin: 2px;
    }

  #navigation ul
    {
    margin: 0;
    }

  .menu-item
    {
    margin: 0;
    padding: 4px 4px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    }

  #page
    {
    margin: 0;
    }

  #content, #footer
    {
    border: 0;
    }

  #content > h1
    {
    padding: 5px;
    }

  .left-section, .half-section, .third-section, .two-thirds-section
    {
    float: none;
    margin: 0;
    width: 100%;
    }

  #footer
    {
    font-size: 0.8em;
    }

  #footer p
    {
    height: auto;
    border: 0;
    }

  #version
    {
    font-size: inherit !important;
    }

  #kwe_login #content
    {
    margin: 0;
    width: 100%;
    }

  #login_form
    {
    margin: 0;
    top: 0;
    left: 0;
    }
  }