/**
 * KWF Style: kwe_admin_print.css
 * 
 * @author Christoffer Lindahl <christoffer@kekos.se>
 * @date 2011-06-13
 * @version 2.0
 */

@import '../../css/kwf_global.min.css';

#header { font-size: 20pt; font-weight: bold; }

#navigation, #subnavigation, #footer, .actions
  {
  display: none;
  }

a, h1, h2, h3, legend { color: #000; }